<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <title>Document</title>
</head>
<body>
    <section class="footer-section">
        <div class="footer-container">
            <img style="height: fit-content;" src="./img/s-logo.png" alt="">
        </div>
        <div class="footer-content">
            <ul class="footer">
                <li><a href="#">HOME</a></li>
                <li><a href="#">COTTAGES</a></li>
                <li><a href="#">RESERVATION</a></li>
                <li><a href="#">GALLERY</a></li>
            </ul>
        </div>
        <div class="footer-content2">
            <ul class="footer2">
                <li>MOBILE NUMBER</li>
                <li>ADDRESS</li>
                <li>FACEBOOK PAGE</li>
            </ul>
        </div>
        <div class="footer-content3">
            <ul class="footer3">
                <li>0933-327-9935 / 0969-312-7973</li>
                <li><a href="https://www.google.com/maps/place/Luis+Tongco+st.Purok+2+Barangca/@14.9934321,120.8998448,21z/data=!4m6!3m5!1s0x33970148d6f694a3:0xc016334abd610c89!8m2!3d14.9934613!4d120.8999695!16s%2Fg%2F11rw7lk0x4?entry=ttu&g_ep=EgoyMDI1MDMwMy4wIKXMDSoASAFQAw%3D%3D">LUIS TONGCO STREET, BARANGKA, BALIUAG, BULACAN</a></li>
                <li><a
                        href="https://www.facebook.com/laserinaresort?rdid=vW3EeHH03LipGraP&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1F2YJm3usd%2F">LA
                        SERINA RESORT FB PAGE</a></li>
            </ul>
        </div>
        <div class="footer-content4">
            <ul class="footer4">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">LOGIN</a></li>
            </ul>
        </div>
    </section>
    <div class="copywrite-container">
        <div class="copywrite">
            <h5>All right reserved 2025</h5>
        </div>
    </div>
</body>
</html>