<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Navbar</title>
</head>
<body>
    <section class="navbar-container">
        <div class="navbar">
            <div class="logo-container">
                <a href="index.html"><img class="logo" src="./img/s-logo.png" alt="Logo"></a>
            </div>
            <ul class="nav-link">
                <li><a href="#home" data-page="home">HOME</a></li>
                <li><a href="#cottage" data-page="cottage">COTTAGES</a></li>
                <li><a href="#reservation" data-page="reservation">RESERVATION</a></li>
                <li class="dropdown">
                    <a href="#gallery" data-page="gallery">GALLERY ▼</a>
                    <ul class="dropdown-menu">
                        <li><a href="#photo-gallery" data-page="photo-gallery">Photo Gallery</a></li>
                        <li><a href="#video-gallery" data-page="video-gallery">Video Gallery</a></li>
                    </ul>
                </li>
                <li><a href="#faq" data-page="faq">FAQ</a></li>
                <li><a href="#contact" data-page="contact">CONTACT</a></li>
                <li><a href="#about" data-page="about">ABOUT US</a></li>
                <li><a href="#login" data-page="login">LOGIN</a></li>
            </ul>
        </div>
    </section>
</body>
</html>